
<div class="tinder">
  <div class="tinder--status">
    <i class="fa fa-remove"></i>
    <i class="fa fa-heart"></i>
  </div>

  <div class="tinder--cards">
    <% @users.each do |user| %>
      <div class="tinder--card">
        <%= link_to user_path(user) do %>
          <%= cl_image_tag user.photos.first.key, height: 300, width: 400, crop: :fill %>
          <div class="card-body start">
            <h3 class="card-title"> <%= user.name %> </h3>
            <% end %>
            <br>
          </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i><h4> <%= user.description %> </h4></i></li>
          <li class="list-group-item">I'm into : <%= user.music_styles[0].name %></li>
          <% if user.user_songs.exists? %>
            <li class="mp3-in-index">My favorite song: <button> <%= link_to "Play song", user.user_songs.first.url, class: "html5" %></button></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="tinder--buttons">
    <button id="nope"><i class="fa fa-remove"></i></button>
    <button id="love"><i class="fa fa-heart"></i></button>
  </div>
</div>


<%= javascript_pack_tag 'usercards'%>
