<br>

<% @users.each do |user| %>
  <div class="card" style="width: 18rem;">
    <%= link_to user_path(user) do %>
    <img src=" <%= user.avatar_url %> " class="card-img-top" alt="My profile pic">
    <div class="card-body start">
        <h5 class="card-title"> <%= user.name %> </h5>
    <% end %>
      <p class="card-text"> <%= user.description %> </p>
    </div>
    <ul class="list-group list-group-flush">
    <li class="list-group-item">I love : <%= user.music_styles[0].name %></li>
    <li class="list-group-item">I want to be a : <%= user.goal %></li>
    <li class="list-group-item">My availability : <%= user.disponibility %></li>
    </ul>
    <div class="card-body end">
      <div class="row justify-content-evenly">
        <div class="love-hate-button col-4">
          <%= link_to "#", remote: true, method: :post do %>
                <i class="fa-solid fa-xmark"></i>
          <% end %>
        </div>
        <div class="love-hate-button col-4">
          <%= link_to "#", remote: true, method: :post do %>
                <i class="fa-solid fa-heart"></i>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <br>
<% end %>
