<br>
<div class="favorited-card-container">
  <% @favorited_users.each do |favorite| %>
    <% user = User.find(favorite.favoritable_id) %>
    <%= link_to user_path(user) do %>
      <div class="card-product">
        <%= cl_image_tag user.photos.first.key, height: 300, width: 400, crop: :fill %>
        <div class="card-product-infos">
          <h2> <%= user.name %> </h2>
          <p> <%= user.music_styles[0].name %> </p>
          <%= link_to '<i class="fa-solid fa-heart"></i>'.html_safe, user_user_unfavorited_path(user), remote: true, method: :post, class: 'like-btn-fav' %>
        </div>
      </div>
    <% end %>
    <br>
  <% end %>
</div>
