<br>
<div class="card mb-3">
  <%= cl_image_tag @user.photos.first.key, height: 300, width: 400, crop: :fill %>
  <div class="card-body">
      <h2><%= @user.name %> </h2>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i><h4> <%= @user.description %> </h4></i></li>
          <li class="list-group-item">I'm into : <%= @user.music_styles[0].name %></li>
          <li class="list-group-item">I want to be a : <%= @user.goal.capitalize %></li>
          <li class="list-group-item">I've been playing for : <%= @user.experience_in_years %> years</li>
        </ul>
        <br>
    <%= link_to "/chatrooms" do %>
      <button type="button" class=".btn btn-show-contact">Contact me</button>
    <% end %>
    <br>
  </div>
</div>
