<!DOCTYPE html>
<html>
  <head>
    <title>Beatbrothers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
    <%= favicon_link_tag asset_path('sigle_sans_fond.png') %>
  </head>

  <%# <body class=<%= params[:controller] == "users" && params[:action] == "show" ? "show-background" : "default-background"%>
  <body class="<%= @body_class %>">

    <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <div class="container-fluid">
        <% if current_user %>
          <%= link_to "/users", class: "navbar-brand" do %>
          <%= image_tag("logo_sans_fond.png") %>
          <% end %>
        <% else %>
          <%= link_to "/", class: "navbar-brand" do %>
          <%= image_tag("logo_sans_fond.png") %>
          <% end %>
        <% end %>
      </div>
    </div>


    <div class="container">

      <%= yield %>

    </div>
    <%= render "shared/navbar" if current_user %>

  </body>
</html>
