<!DOCTYPE html>
<html>
  <head>
    <title>Beatbrothers</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('compact-disc-solid.svg') %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" %>
  </head>

  <body class=<%= params[:controller] == "users" && params[:action] == "show" ? "show-background" : "default-background"%>>

    <div class="container">

      <%= yield %>

    </div>
    <%= render "shared/navbar" if current_user %>

  </body>
</html>
